.myDiagramDiv {
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-left {
  background-color: #905842;
  color: white;
  height: 770px;
  width: 65px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(204, 202, 202);
  padding: 10px;
  font-size: 30px;

  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
}

.modal .modal-tree-name {
  background-color: #F2E1DA;
  color: #905842;
  width: 230px;
  height: 60px;
  font-size: 28px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(204, 202, 202);

  position: fixed;
  left: 100px;
  top: 20px;
  z-index: 100;
}

.modal-form-node * {
  text-align: center;
}

.modal-form-node {
  background-color: #F2E1DA;
  color: #905842;
  width: 230px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(204, 202, 202);
  padding: 10px;

  position: fixed;
  left: 100px;
  top: 100px;
  z-index: 20;
}

.modal-form-node * {
  width: 100%;
}

.modal-tree-list {
  background-color: #F2E1DA;
  color: #905842;
  width: 230px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgb(204, 202, 202);

  position: fixed;
  left: 100px;
  top: 420px;
  z-index: 40;
}

.title .select-mode {
  font-size: 25px;
  color: black;
  text-shadow: 0 0 10px rgb(204, 202, 202);
  display: flex;
  justify-content: center;
  font-weight: bolder;

  width: 15%;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 100;
}

.title .group-btn {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);

  width: 15%;
  position: fixed;
  left: 50%;
  top: 65px;
  z-index: 100;
}

.title .group-btn .btn {
  width: 43%;
  font-size: 10px;
  background-color: #F2E1DA;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 10px 3px rgb(204, 202, 202);
  border-radius: 10px;
  z-index: 110;
}

.btn:hover {
  cursor: pointer;
}

.avatar-form img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px rgb(204, 202, 202);
}

.name-form {
  font-weight: bolder;
}

.modal {
  /* width: 100%; */
}

.modal .grayout {
  position: fixed;
  width: 100%;
  height: 100vh;

  opacity: 0.9;
  background-color: rgb(117, 117, 117);
  z-index: 200;
  top: 0;
  left: 0;
}

.modal .modal-form {
  position: fixed;
  height: auto;

  left: 50%;
  top: 50%;
  z-index: 201;
  padding: 10px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.step1 {
  width: 30%;
}

.step2 {
  width: 50%;
  background-color: #F2E1DA;
}

.tool-add {
  position: fixed;
  right: 20px;
  top: 200px;
  background-color: #F2E1DA;
  color: black;
  z-index: 120;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px 3px rgb(204, 196, 190);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.tool-add:hover {
  cursor: pointer;
  background-color: rgb(228, 212, 205);
}

.modal-form-delete {
  position: fixed;
  width: 40%;
  height: auto;
  left: 50%;
  top: 200px;
  z-index: 201;

  text-align: center;
  padding: 20px;
  margin-left: -20%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(228, 212, 200);
}

.modal-form-delete .alert-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem; 
}

.btn-alert {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.btn-alert * {
  margin: 0 10px;
}

.label-section {
  font-size: 20px;
  padding: 10px;
  color: #905842;
  font-weight: bolder;
}

list-search {
  border:1px solid #000;
  font-family:arial;
  height:300px;
  width:200px;
}

ul {
  list-style:none;
  max-height:300px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}

.list-search ul li {
  line-height:45px;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(255, 239, 226);
  cursor: pointer;
}

.list-search ul li:hover {
  background-color: #905842;
  color: white;
}

.list-search ul li:nth-child(even):hover{
  background-color: #905842;
}

li:nth-child(even){
  background:rgb(240, 230, 226);
}

.grayout-high {
  position: fixed;
  width: 100%;
  height: 100vh;

  opacity: 0.8;
  background-color: rgb(179, 178, 178);
  z-index: 202;
  top: 0;
  left: 0;
}

.high-modal {
  z-index: 203;
  height: 50vh;
}