.fileInput {
  top: 10px;
  left: 5px;
  height: auto;
  background-color: #F2E1DA;
  height: 10%;
}

.imgPreview * {
  width: 180px;
  height: 180px;
  max-height: 180px;
  padding: 5px;
}

.container-relative {
  position: relative;
  padding: 5px;
}

input[type="file"] {
  background-color: #F2E1DA;
}